<h1>Welcome to the Administrator's section</h1>

<div>
    <p>Add a new teacher</p>
    <span class="button-nav"><a routerLink="" *ngIf="!user" (click)="newSection()">In a new section</a></span>
    <span class="button-nav"><a routerLink="" *ngIf="!user" (click)="newTeacher()"> In an existing section</a></span>
</div>

<form *ngIf="!teacherInSection" (ngSubmit)="onFormSubmit(userForm)" #userForm="ngForm">
    <p>Add a new teacher, in a new section</p>
    <div class="form-group">
        <label for="nickname">Nickname :</label>
        <input class="form-control" type="text" id="nickname" placeholder="Choose a nickname" name="teacher_nickname" [(ngModel)]="addNickname" required>
    </div>
    <div class="form-group">
        <label for="password">Password :</label>
        <input class="form-control" type="password" id="password" placeholder="Choose a password" name="teacher_password" [(ngModel)]="addPassword" required>
    </div>
    <div class="form-group">
        <label for="firstname">Firstname :</label>
        <input class="form-control" type="text" id="firstname" placeholder="Your firstname" name="teacher_firstname" [(ngModel)]="addFirstname" required>
    </div>
    <div class="form-group">
        <label for="lastname">Lastname :</label>
        <input class="form-control" type="text" id="lastname" placeholder="Your lastname" name="teacher_lastname" [(ngModel)]="addLastname" required>
    </div>
    <div class="form-group">
        <label for="email">E-mail :</label>
        <input class="form-control" type="email" id="email" placeholder="Your e-mail address" name="teacher_email" [(ngModel)]="addEmail" required>
    </div>
    <div class="form-group">
        <label for="section">Section :</label>
        <input class="form-control" type="text" id="section" placeholder="Your section" name="teacher_section" [(ngModel)]="addSection" required>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Confirm</button>
    </div>
</form>

<form *ngIf="teacherInSection" (ngSubmit)="onTeacherFormSubmit(newTeacherForm)" #newTeacherForm="ngForm">
    <p>Add a new teacher, in an existing section</p>
    <div class="form-group">
        <label for="nickname">Nickname :</label>
        <input class="form-control" type="text" placeholder="Choose a nickname" name="teach_nickname" [(ngModel)]="addTeachNickname" required>
    </div>
    <div class="form-group">
        <label for="password">Password :</label>
        <input class="form-control" type="password" placeholder="Choose a password" name="teach_password" [(ngModel)]="addTeachPassword" required>
    </div>
    <div class="form-group">
        <label for="firstname">Firstname :</label>
        <input class="form-control" type="text" placeholder="Your firstname" name="teach_firstname" [(ngModel)]="addTeachFirstname" required>
    </div>
    <div class="form-group">
        <label for="lastname">Lastname :</label>
        <input class="form-control" type="text" placeholder="Your lastname" name="teach_lastname" [(ngModel)]="addTeachLastname" required>
    </div>
    <div class="form-group">
        <label for="email">E-mail :</label>
        <input class="form-control" type="email" placeholder="Your e-mail address" name="teach_email" [(ngModel)]="addTeachEmail" required>
    </div>
    <div>
        <label for="sections">Choose your section :</label>
        <select class="form-control" name="teach_section" ngModel required>
            <option *ngFor="let section of sections" [value]="section">{{ section }}</option>
        </select>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Confirm</button>
    </div>
</form>