<h1>Welcome to the {{ teacher.section }} section, {{ teacher.firstname }} {{ teacher.lastname }}</h1>


<div class="container">
    <div class="row">
        <div class="col">
            <ul>
                <li *ngFor="let pendingUser of pendingUsers">
                    <span>{{ pendingUser.firstname }} {{ pendingUser.lastname }} {{ pendingUser.email }} can be assignated to</span>
                    <select [(ngModel)]="notAssignatedId" (change)="getNotAssignatedId(notAssignatedId)">
                    <option *ngFor="let notAssignated of notAssignatedStudents" [value]="notAssignated._id">{{ notAssignated.firstname }} {{notAssignated.lastname }}</option>
                    </select>
                    <button (click)="merge(pendingUser)">Merge</button>
                </li>
            </ul>
        </div>
        <div class="col">
            <!--Add a new Student-->
            <form (ngSubmit)="onFormSubmit(userForm)" #userForm="ngForm" class="newstudent">
                <p>Add a new student</p>
                <div class="form-group">
                    <label for="firstname">Firstname :</label>
                    <input type="text" class="form-control" placeholder="Enter firstname" name="firstname" [(ngModel)]="addFirstname">
                </div>
                <div class="form-group">
                    <label for="lastname">Lastname :</label>
                    <input type="text" class="form-control" placeholder="Enter lastname" name="lastname" [(ngModel)]="addLastname">
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
        <div class="col">
            <!--Add a new Project-->
            <form (ngSubmit)="onFormProjectSubmit(projectForm)" #projectForm="ngForm" class="newproject">
                <p>Add a new project</p>
                <div class="form-group">
                    <label for="projectName">Project name :</label>
                    <input type="text" class="form-control" placeholder="New project name" name="projectName" [(ngModel)]="addProjectName">
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!--Select a Student-->
            <p *ngIf="selectedStudent">{{ selectedStudent.firstname }} {{ selectedStudent.lastname }}</p>
            <span>Select a student's name &nbsp;</span>
            <select [(ngModel)]="student" (change)="getStudent(student)">
                <option *ngFor="let student of dashboard" [ngValue]="student">{{ student.lastname }} {{ student.firstname }}</option>
            </select>
        </div>
        <div class="col">
            <!--Absences-->
            <form *ngIf="selectedStudent">
                <p>Add a new absence</p>
                <div class="form-group">
                    <label for="absenceDate">Date :</label>
                    <input class="form-control" type="date" [ngModel]="dt | date:'yyyy-MM-dd'" (ngModelChange)="dt = $event"
                        [value]="datee | date:'yyyy-MM-dd'" name="absenceDate">
                </div>
                <button (click)=onFormAbsenceSubmit(); class="btn btn-primary">Add</button>
            </form>
        </div>
        <div class="col">
            <div *ngIf="selectedStudent">
                <p>Absences</p>
                <p *ngIf="!selectedStudent.absences[0]">Aucune absence</p>
                <ul>
                    <li *ngFor="let absence of selectedStudent.absences"> {{ absence }} </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <!--Projects and marks-->
            <span>Select a project's name &nbsp;</span>
            <select [(ngModel)]="project" (change)="getProject(project)">
                <option *ngFor="let project of projects" [ngValue]="project">{{ project.projectName }}
                </option>
            </select>
        </div>
    </div>
    <div class="row">
        <table *ngIf="selectedStudent && selectedProject && myProject" class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Project name</th>
                    <th scope="col">Mark</th>
                    <th scope="col">Comment</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ myProject.projectName }}</td>
                    <td>{{ myProject.mark }}</td>
                    <td>{{ myProject.comment }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col">
            <form *ngIf="selectedStudent && selectedProject && myProject" (ngSubmit)="onMarkFormSubmit(markForm)"
                #markForm="ngForm">
                <p>Add a mark</p>
                <div class="form-group">
                    <label for="mark">Mark :</label>
                    <input type="text" class="form-control" placeholder="Enter mark" name="mark" [(ngModel)]="addMark">
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
        <div class="col">
            <form *ngIf="selectedStudent && selectedProject && myProject" (ngSubmit)="onCommentFormSubmit(commentForm)"
                #commentForm="ngForm">
                <p>Add a comment</p>
                <div class="form-group">
                    <label for="comment">Comment :</label>
                    <input type="text" class="form-control" placeholder="Enter comment" name="comment" [(ngModel)]="addComment">
                </div>
                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
</div>