<div class="row justify-content-center">
    <div class="col-3 left">
        <h2>Sign in here</h2>
    </div>
    <div class="col-4 formcontainer">
        <form (ngSubmit)="onFormSubmit(userForm)" #userForm="ngForm">
            <div class="form-group">
                <label for="nickname">Nickname :</label>
                <input class="form-control" type="text" placeholder="Your nickname" name="login_nickname" ngModel>
                <label for="password">Password :</label>
                <input class="form-control" type="password" placeholder="Your password" name="login_password" ngModel>
                <button class="btn btn-primary" type="submit">Log in</button>
            </div>
        </form>
    </div>
</div>