<div *ngIf="!user && (regComp === false && logComp === false)">
    <h1>Simplon.co Student's dashboard</h1>
</div>
<div class="navigation">
    <span class="button-nav"><a routerLink="" *ngIf="!user" (click)="register()">Sign in</a></span>
    <span class="button-nav"><a routerLink="" *ngIf="!user" (click)="login()">Log in</a></span>
    <span class="button-nav"><a routerLink="" *ngIf="user_nickname" (click)="logOut($event)">Log out</a></span>
</div>
<div id="carouselExample" class="carousel" data-ride="carousel" *ngIf="!user && (regComp === false && logComp === false)">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="../assets/img/Simplon.jpg" class="d-block w-100" alt="Simplonlearner">
        </div>
        <div class="carousel-item">
            <img src="../assets/img/JavaScript.jpg" class="d-block w-100" alt="matrix">
        </div>
        <div class="carousel-item">
            <img src="../assets/img/Simplon2.jpg" class="d-block w-100" alt="SimplonCEOs">
        </div>
    </div>
</div>
<div class="app">
    <app-registration (pendingUser)="onPending($event)" *ngIf="regComp === true"></app-registration>
    <app-login (loggedUser)="onUser($event)" *ngIf="!user && logComp === true"></app-login>
    <app-admin *ngIf="user_nickname && user_status === true && user_nickname === 'admin'"></app-admin>
    <app-user-maintable *ngIf="user_nickname && user_status === false" [user]=user></app-user-maintable>
    <app-admin-userstable *ngIf="user_nickname && user_status === true && user_nickname !== 'admin'" [teacher]=user></app-admin-userstable>
</div>




<!-- <div><a *ngIf="!user" routerLink="/forTheLoginComponent">Log in</a></div> -->
<!-- <router-outlet === true"></router-outlet> -->
<!-- <img src="https://images-ext-2.discordapp.net/external/PfBh947W9pbZgNOFHdZ2MtIqA2XcXKJoGBLuclfpiFI/https/42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/assets/share_new.jpg">-->