<h1> Welcome to your dashboard, {{ user.firstname }} {{ user.lastname }}</h1>

<div class="formcontainer">
    <table class="table table-unbordered" *ngIf=dashboard>
        <thead>
            <tr class="tabletop">
                <th scope="col">N°</th>
                <th scope="col">Project name</th>
                <th scope="col">Mark</th>
                <th scope="col">Comment</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of dashboard.projects, let index = index">
                <th scope="row">{{ index + 1 }}</th>
                <td *ngIf="project.projectName">{{ project.projectName }}</td>
                <td *ngIf="project.mark">{{ project.mark }}</td>
                <td *ngIf="project.comment">{{ project.comment }}</td>
            </tr>
        </tbody>
    </table>
</div>